* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: -apple-system, sans-serif;
}

:root {
    --bg-color: #fffffffb;
    --snd-bg-color: #f1f3f4;
    --text-color: #000;
    --main-color: #1065a5;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

/* Header & NavBar Section Start*/

.header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5%;
    background: var(--main-color);
    backdrop-filter: blur(10px);
    transition: all 0.5s ease;
}

.logo {
    font-size: 3rem;
    color: var(--bg-color);
    font-weight: 700;
    cursor: default;
    transition: 0.3s ease;
}

.logo:hover {
    transform: scale(1.05);
}


.navbar a {
    font-size: 1.9rem;
    color: var(--bg-color);
    margin-left: 4rem;
    font-weight: 700;
    transition: 0.3s ease-in-out;
}

.navbar a:hover,
.navbar a.active {
    color: var(--text-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--bg-color);
    cursor: pointer;
    display: none;
}

/* Header & NavBar Section Start*/


/* Home Section Start*/
.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 25vw;
    animation: floatImage 4s ease-in-out infinite;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.home-img img:hover {
    box-shadow: 0 0 25px var(--main-color),
        0 0 35px var(--main-color),
        0 0 55px var(--main-color);
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);
    }
}

.home-content {
    margin-left: 5rem;
}

.home-content h3 {
    font-size: 3.7rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}


span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.6rem;
    color: #666;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}

.social-media a:hover {
    transform: scale(1.2) translateY(-10px);
    background-color: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 25px var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: none;
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.5s ease;
}

.btn:hover {
    box-shadow: 0 0 5rem var(--main-color),
        0 0 35px var(--main-color);

}

/* Home Section End*/


/* About Section Start */
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background: var(--snd-bg-color);
}

.about-img img {
    width: 25vw;
    height: 25vw;
    border: 2px solid var(--main-color);
    animation: floatImage 4s ease-in-out infinite;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.about-img img:hover {
    box-shadow: 0 0 25px var(--main-color),
        0 0 35px var(--main-color),
        0 0 55px var(--main-color);
}

.heading {
    text-align: center;
    font-size: 6rem;
}

.about-content {
    padding: 0.4rem;
}

.about-content span {
    color: var(--main-color);
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 3rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    color: #666;
}

/* Skills Section Start */

.skills h2 {
    margin-bottom: 5rem;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.skills-container .skills-box {
    padding: 3rem 2rem 0.5rem;
    border-radius: 2rem;
    text-align: center;
    background: var(--snd-bg-color);
    border: .3rem solid var(--bg-color);
    transition: 0.5s ease;
}

.skills-container .skills-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
    box-shadow: 0 0 5px var(--main-color),
        0 0 10px var(--main-color),
        0 0 15px var(--main-color);

}

.skills-box i {
    font-size: 20rem;
    color: var(--main-color);
    cursor: pointer;
    animation: floatIcon 4s ease-in-out infinite;
}

@keyframes floatIcon {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);
    }
}

.skills-box h3 {
    font-size: 2.6rem;
    padding-top: 1.2rem;
}

.skills-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
    color: #666;
}

/* Project Section Start */
.projects h2 {
    margin-bottom: 5rem;
}

.heading {
    color: #000;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.projects-container .projects-box {
    background: var(--snd-bg-color);
    padding: 6rem 2rem 0.5rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.3rem solid var(--bg-color);
    transition: 0.5s ease;
}

.projects-container .projects-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.projects-box img {
    width: 32rem;
    cursor: pointer;
    box-shadow: 0 0 35px var(--main-color);
    color: var(--main-color);
    border-radius: 2rem;
    animation: floatImage 4s ease-in-out infinite;
    transition: 0.4s ease-in-out;
}

.projects-box img:hover {
    box-shadow: 0 0 25px var(--main-color),
        0 0 35px var(--main-color),
        0 0 55px var(--main-color);
}

.projects-box h3 {
    font-size: 2.6rem;
    padding-top: 1.8rem;

}

.projects-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
    color: #666;
}

.projects-box .btn {
    margin: 1.2rem;
}

/* Project Section End */


/* Certifications Section CSS */
.certifications {
    background: var(--snd-bg-color);
}

.certifications h2 {
    margin-bottom: 5rem;
}

.certifications-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.certifications-container .certifications-box {
    padding: 6rem 2rem 2rem;
    border-radius: 2rem;
    text-align: center;
    background: var(--bg-color);
    border: .3rem solid var(--bg-color);
    transition: 0.5s ease;
}

.certifications .heading {
    margin-bottom: 5rem;
}

.certifications-container .certifications-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.certifications-box img {
    max-width: 32rem;
    height: auto;
    box-shadow: 0 0 35px var(--main-color);
    animation: floatImage 4s ease-in-out infinite;
    border-radius: 1.5rem;
    margin-bottom: 2rem;
    transition: 0.5s ease-in-out;
}

.certifications-box img:hover {
    box-shadow: 0 0 35px var(--main-color),
        0 0 45px var(--main-color),
        0 0 65px var(--main-color);
}

.certifications-box h3 {
    font-size: 2.6rem;
    padding-top: 1.2rem;
}

.certifications-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
    color: #666;
}

/* Certification Section End */

/* Contact Form Start */
.contact {
    background-color: var(--snd-bg-color);
}

.contact h2 {
    margin-bottom: 3rem;
    color: var(--text-color);
}

span {
    color: var(--main-color);
}

.contact form {
    max-width: 80rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 0.8rem;
    border: 0.25rem solid var(--main-color);
    margin: 0.7rem 0;
    resize: none;
    transition: 0.5s ease;
}

.contact form .input-box input {
    width: 100%;
    margin: 0.7rem 0.35rem;

}

.contact form .input-box input:hover,
.contact form textarea:hover {
    transform: scale(1.02);
    box-shadow: 0 0 5px var(--main-color),
        0 0 8px var(--main-color),
        0 0 12px var(--main-color);
}

.contact form .btn {
    margin-top: 2rem;
}

/* Contact Form End */

/* Footer Section Start */
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: #d9dbdc;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
}

.footer .social a {
    font-size: 25px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}

.footer .social a:hover {
    transform: scale(1.2)translateY(-10px);
    background-color: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 25px var(--main-color);
}

.footer .copyright {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    color: #151414;
}

/* Footer Section End */

/* Media query start */

@media (max-width:1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width:991px) {
    .header {
        padding: 2rem 3%;
    }

    .contact form .input-box input {
        width: 100%;
    }
}

@media (max-width:768px) {
    #menu-icon {
        display: block;
        z-index: 1000;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        right: 0;
        width: 200px;
        min-height: 20vh;
        display: none;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.3);
        transition: transform 0.5s ease-in-out;
        backdrop-filter: blur(10px);
        z-index: 999;
        border-radius: 10% 0 0 10%;
    }

    .navbar.active {
        display: flex;
    }

    .navbar a {
        color: #fff;
        font-size: 2rem;
        text-decoration: none;
        padding: 17px;
        text-align: left;
        transition: all 0.3s ease;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-content {
        order: 2;
        margin-left: 1rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about-img img {
        width: 70vw;
        height: 70vw;
        margin-top: 4rem;
    }

}

@media (max-width:617px) {
    .home-img img {
        width: 70vw;
        margin-top: 8rem;
    }

    .about-img img {
        width: 70vw;
        height: 70vw;
        margin-top: 4rem;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }
}

/* media queries end